div.ol-control button {
    background: initial;
    background-image: none;
    background-color: #7b98bc;
    background-color: rgba(0, 60, 136, .5);
    text-shadow: none;
}

div.ng-scope #toolbar button:hover {
    background-image: none;
}

div.ol-zoom {
    bottom: 62px;
    top: auto;
}

ol, ul, dl {
    margin-left: initial;
}

blockquote, ul, ol, dl {
    margin: initial;
}

input#search_address {
    background-color: white;
    padding-left: 10px;
}

div.panelspace {
    box-shadow: none;
}

.aui .ng-scope { * {
    line-height: 1.42857143;
}

ul, ol {
    margin: initial;
}

a.sidebar-main {
    padding: 0;
}

ul.hs-lm-baselayerlist {
    margin-bottom: 0;
}

.hs-dataset-panel .panel-body {
    padding: 0;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'WebHostingHub-Glyphs';
    background: none;
    width: auto;
    height: auto;
    font-style: normal
}

.icon-refresh:before {
    content: '\f078';
}

.icon-link:before {
    content: '\f022';
}

.modal {
    margin-left: 0;
    background-color: initial;
    width: auto;
}

.close {
    font-size: 20px;
}

.mainpanel {
    border: initial;
    margin-bottom: 0;
}

.sidebar-list {
    border-radius: initial;
}

.ol-control button {
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    margin: 1px;
}

.hs-panel-margin .form-horizontal .form-group {
    margin-left:0;
    margin-right:0;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
}

i.hs-lm-warning-scale, i.hs-lm-queryable {
	top: 2px;
	line-height: 1.5
}
}
