.dropdown-menu {
    background-color: #009ee0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #efefef;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #1270bc;
}
.navbar-inverse {
    background-color: #009ee0;
    border-color: #0081b7;
    padding-bottom: 0px;
    padding-top: 10px;
}
a {
    color: #009ee0;
}
#topprad {
    background: none repeat scroll 0 0 #333;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 6px 0;
    text-transform: uppercase;
}
#joinus {
    color: #fff;
    text-align: right;
}
#joinus img {
    margin: 0 0 5px 5px;
}
/*#wrapper ul {
    margin: 0 0 30px;
}
#wrapper ol {
    list-style-type: decimal;
    margin: 0 20px 30px;
    padding-left: 8px;
}
#wrapper li {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 12px;
}
#wrapper ol > li {
    margin: 0;
}
#wrapper ul li:before {
    color: #009ee0;
    content: "■";
    font-size: 1em;
    padding-right: 0.5em;
    position: relative;
    top: -0.15em;
}*/

.zoomOverlay {
    background-color: rgb(0, 158, 224) !important;
}
#footer p, #footer h4 {
    font-size: 94%;
    line-height: 1.6;
    margin: 0 0 2%;
    padding: 0;
}
.eucopy {
    color: #e7e7e7;
}
td {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
}
table {
    margin-bottom: 35px;
}
.col-lg-offset-3, .col-lg-offset-2 {
    margin-left: 0;
}
.col-lg-6, .col-lg-8 {
    width: 75%;
}
.navbar-collapse {
    padding-top: 10px;
}
.home-wrap .col-lg-offset-2 {
    margin-left: 16.6667%;
}
.home-wrap .col-lg-8 {
    width: 66.6667%;
}
.omsc-toggle-inner {
    background: none repeat scroll 0 0 #fff;
}

