<header id="banner" role="banner">
    <div id="heading">
        <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="http://$portalURL/" title="$site_name" rel="home">
	                <img src="$images_folder/sdi4apps_logo_web.png" alt="$site_name" />
	            </a>
	        </div>
		    #if ($has_navigation || $is_signed_in)
		        #parse ("$full_templates_path/navigation.vm")
		    #end
	    </div>
    </div>
</header>
