#if($is_signed_in)
    #if($permissionChecker.isOmniadmin())
        #dockbar()
    #end
#end

#set($companyLocalService = $serviceLocator.findService("com.liferay.portal.service.CompanyLocalService"))
#set($company = $companyLocalService.getCompany($company_id))
#set($portalURL = $company.getVirtualHostname())

<header>
    <div id="topprad">
        <div class="container right">
            <span id="search-form-map">
                <form id="search-map" action="/" onsubmit="return onMapSearchFormSubmit(this)">
                    <span id="search-icon">
                        <button type="submit" tabindex="-1">
                            <span class="visuallyhidden">
                                $languageUtil.get($locale, "geoportal-search-map")
                            </span>
                        </button>
                    </span>
                    <label for="search-query-map" class="visuallyhidden">$languageUtil.get($locale, "geoportal-search-map")</label>
                    <input type="text" spellcheck="false" autocomplete="off" name="q" placeholder="$languageUtil.get($locale, "geoportal-search-map")" id="search-query-map">
                </form>
            </span> | 
    
            <span id="lang">$theme.language("fm", null, "languageId", 0)</span>
            #if($is_signed_in)
                    <span id="userprofile">
                        |
                        <a href="$themeDisplay.getURLMyAccount().toString()"><img src="$user.getPortraitURL($themeDisplay)" />
                        $user.getFullName()</a>
                        |
                        <a class="button" href="$sign_out_url">$sign_out_text</a>
                    </span>
            #else
                #set ($create_account_url = $portletURLFactory.create($request, "58", $page.getPlid(), "ACTION_PHASE"))
                $create_account_url.setWindowState("maximized")
                $create_account_url.setPortletMode("view")
                $create_account_url.setParameter("saveLastPath", "0")
                $create_account_url.setParameter("struts_action", "/login/create_account")
                    <span id="userprofile">
                        |
                        <a class="button" href="$create_account_url">$languageUtil.get($locale, "register")</a>
                        |
                        <a class="button" href="https://$portalURL/cas-server/login?service=http://$portalURL/php/cas.html" rel="nofollow">$sign_in_text</a>
                    </span>
            #end
        </div>
    </div>
    #parse ("$full_templates_path/navigation.vm")
</header>

