#set($companyLocalService = $serviceLocator.findService("com.liferay.portal.service.CompanyLocalService"))
#set($company = $companyLocalService.getCompany($company_id))
#set($portalURL = $company.getVirtualHostname())

<header id="header">
    <div id="topprad">
        <div class="container">
            <div class="navbar-form userinfo pull-right">
                #if($is_signed_in)
                    <a href="$sign_out_url" id="sign-out" rel="nofollow">$sign_out_text</a>
                #else
                    #set ($create_account_url = $portletURLFactory.create($request, "58", $page.getPlid(), "ACTION_PHASE"))
                    $create_account_url.setWindowState("maximized")
                    $create_account_url.setPortletMode("view")
                    $create_account_url.setParameter("saveLastPath", "0")
                    $create_account_url.setParameter("struts_action", "/login/create_account")

                    <a class="button" href="$create_account_url">$languageUtil.get($locale, "Register / ")</a>
                    <a class="button" href="https://$portalURL/cas-server/login?service=http://$portalURL/php/cas.html" rel="nofollow">$sign_in_text</a>
                #end
            </div>
        </div>
    </div>

    <nav role="navigation">
        #if ($widthtype)
        <div class="navbar no-border navbar-inverse navbar-static-top">
        #else
        <div class="navbar navbar-inverse navbar-static-top">
        #end
            <div class="container">
<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

                       <div id="logo"><a href="http://sdi4apps.eu/" title="SDI4APPS" rel="home">
                <img src="http://sdi4apps.eu/wp-content/uploads/2014/05/sdi4apps_logo_web.png" alt="SDI4APPS">
            </a></div>
                    </div>

<div id="joinus">Join us at <a href="http://www.linkedin.com/groups/SDI4Apps-3516067" target="_blank"><img src="http://sdi4apps.eu/wp-content/uploads/2014/05/LinkedIn-Logo-2C.png" rel="magnific" alt="LinkedIn-Logo" height="24" width="100"></a></div>


                #if ($has_navigation || $is_signed_in)
                    #parse ("$full_templates_path/navigation.vm")
                #end
            </div>
        </div>
    </nav>
</header>
